.DS_Store
.idea/
.vscode/
.ipynb_checkpoints/
*.pyc
venv*/

dist/
*.egg-info/
build/
gym_mtsim/data/symbols_forex_1_1_20_12_31_23.pkl
gym_mtsim/data/symbols_forex_1_1_24_4_11_24.pkl
gym_mtsim/data/symbols_forex.pkl
examples/models/
examples/models/model_initial.pkl
examples/models/model_updated.pkl
examples/models_4_17_24/
gym_mtsim/data/symbols_forex_1hr_1_1_10_4_17_24.pkl
gym_mtsim/data/symbols_forex_1hr_1_1_18_4_11_24.pkl
gym_mtsim/data/symbols_forex_15min_1_1_20_4_11_24.pkl
examples/models_4_18_24/
examples/models_4_19_24/
examples/logs/evaluations.npz
examples/tensorboard_logs/PPO_1/events.out.tfevents.1713520906.DESKTOP-IHKHSBR.10952.0
examples/best_hyperparameters
examples/best_hyperparameter_search_results.xlsx
examples/sym_w_actions_n_orders.csv
examples/sym_w_actions_n_orders.xlsx
gym_mtsim/data/symbols_forex_1hr_1_1_24_4_25_24 copy.pkl
gym_mtsim/data/symbols_forex_1hr_1_1_24_4_25_24 validation.pkl
examples/sym_w_actions_n_orders2.csv
